@import '__index_mixins.scss';
@import '__index_variables.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    height: 1600px;
}

.main-headline {
  color: $indexGreyHeadline;
    @include headlinePosition;
}

.headline {
    @include headlinePosition;
}

// contains all fetched properties
.properties__container {
  display: flex;
  width: 80%;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  overflow: hidden;
  @include parentBorder;
  background: $indexGreyBox;
  @include shadow;
}

// contains 1 fetched property
.property__container {
  margin-right: 10px;
  @include childBorder;
  background: white;
  @include hoverShadowSetup;
  cursor: pointer;
  width: 8rem;
  .property__thumbnail {
    width: calc(8rem - 2px);
    height: 50%;
    @include columnBorder;
  }
  .property__description {
    padding: 0 0.5rem;
  }
  &:hover {
    @include hoverShadow;
    transform: scale(1.01)
  }
  &.selected {
    @include hoverShadow;
  }
}

.scroll_btns__container {
  display: flex;
  justify-content: center;
  #scrollLeftButton,
  #scrollRightButton {
    margin: 0.5rem 0.5rem;
    @include childBorder;
    cursor: pointer;
    @include hoverShadowSetup;
    &:hover {
        @include hoverShadow;
    }
  }
}

#resetButton {
    display: block;
    margin: 0.5rem auto 1rem;
    
    @include childBorder;
    cursor: pointer;
    @include hoverShadowSetup;
    &:hover {
        @include hoverShadow;
    }
}

// contains 2 compared properties at a time
.compare-properties__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0.5rem auto 1rem;
    padding: 0.5rem;
    @include parentBorder;
    @include shadow;
    background: $indexGreyBox;
    @media (min-width: 711px) {
        flex-direction: row;
        justify-content: center;
        align-items: normal;
    }
}

// contains 1 of 2 compared properties
.compared-property__container {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 22rem;
    margin: 10px;
    @include childBorder;
    cursor: pointer;
    @include hoverShadowSetup;
    background: white;
    @include shadow;
    @media (min-width: 560px) {
        flex-direction: row;
        width: 20rem;
        height: 16rem;
    }
    @media (min-width: 711px) {
        width: 12rem;
        height: 25rem;
        flex-direction: column;
    }
    .property__thumbnail{
        width: 100%;
        height: 30%;
        @include columnBorder;
        object-fit: cover;
        @media (min-width: 560px) {
        width: 50%;
        height: 100%;
        @include rowBorder;
        object-fit: cover;
    }
        @media (min-width: 711px) {
            width: calc(12rem - 1px);
            border-right: 1px solid black;
            height: 50%;
            @include columnBorder;
    }
    }
    .compared-property_descriptions__container {
        display: flex;
        flex-direction: column;
        @media (min-width: 711px) {
            height: 50%;
    }
    }
    p {
        margin: 0.1rem 0;
        padding: 0 0.5rem;
    }
    .property_company__container {
        display: flex;
        align-items: center;
        .property_company__logo {
            width: 30%;
            height: 50px;
            border-radius: 5px;
        }
        .property_company__name {
            width: 70%;
        } 
    }
    .property_company__container-noLogo {
        width: 100%;
        .property_company__name {
            width: 100%;
        } 
    }
    &:hover {
        @include hoverShadow;
        transform: scale(1.01)
    }
}



