@mixin shadow {
    box-shadow: 0 10px 13px -7px rgba(0,0,0,.4), 0 0 5px 2px transparent;
}

@mixin hoverShadowSetup {
    transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
}

@mixin hoverShadow {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7);
}

@mixin headlinePosition {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

@mixin parentBorder {
    border: 2px solid black;
    border-radius: 10px;
}

@mixin childBorder {
    border: 1px solid black;
    border-radius: 5px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-headline {
  color: rgb(180, 180, 180);
    @include headlinePosition;
}

.headline {
    @include headlinePosition;
}

// contains all fetched properties
.properties__container {
  display: flex;
  width: 80%;
  margin: 0.5rem auto 1rem;
  padding: 0.5rem;
  overflow: hidden;
  @include parentBorder;
  background: rgb(238, 238, 238);
  @include shadow;
}

// contains 1 fetched property
.property__container {
  margin-right: 10px;
  @include childBorder;
  background: white;
  @include hoverShadowSetup;
  cursor: pointer;
  width: 8rem;
  .property__thumbnail {
    width: calc(8rem - 2px);
    height: 50%;
    border-radius: 5px 5px 0 0;
  }
  .property__description {
    padding: 0 0.5rem;
  }
  &:hover {
    @include hoverShadow;
    transform: scale(1.01)
  }
  &.selected {
    @include hoverShadow;
  }
}

.scroll__container {
  display: flex;
  justify-content: center;
  #scrollLeftButton,
  #scrollRightButton {
    margin: 0.5rem 0.5rem;
    @include childBorder;
    cursor: pointer;
    @include hoverShadowSetup;
    &:hover {
        @include hoverShadow;
    }
  }
}

.compare-properties__container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0.5rem auto 1rem;
    padding: 0.5rem;
    @include parentBorder;
    @include shadow;
}

.compared-property__container {
    display: flex;
    flex-direction: column;
    width: 12rem;
    margin: 10px;
    @include childBorder;
    cursor: pointer;
    .property__thumbnail{
        width: calc(12rem - 1px);
        height: 50%;
        border-radius: 5px 5px 0 0;
    }
    p {
        margin: 0.1rem 0;
        padding: 0 0.5rem;
    }
    .property_company__container {
        display: flex;
        height: 50%;
        .property_company__logo {
            width: 30%;
        }
        .property_company__name {
            width: 70%;
        } 
    }
    &:hover {
        @include hoverShadow;
    }
}